@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600&display=swap');


.archivo {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400;
}

.mont {
  font-family: 'Montserrat', sans-serif;
  
}
.cormorant {
  font-family: 'Cormorant', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover; 
}

.wood {
  color: #8B4513;
}

.gold {
  color: #D4AF37;
}

.grey {
  color: #4B4B4B
}

.green {
  color: #2C5F2D;
}

.beige {
  color: #F5F5DC
}