@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600&display=swap');



.carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover; 
}

.wood {
  color: #8B4513;
}

.gold {
  color: #D4AF37;
}

.grey {
  color: #4B4B4B
}

.green {
  color: #2C5F2D;
}

.beige {
  color: #F5F5DC
}


.img-fluid {
  width: 100%;
  height: auto;
}

.move-up {
  animation: move-up 1s forwards;
}

@keyframes move-up {
  from {
    transform: translate(0, 100%);
    opacity: 0;
  } to {
    transform: translate(0, 0); 
    opacity: 1;
  }
}

.move-left {
  animation: bring-left 1s forwards;
}

@keyframes bring-left {
  from {
    transform: translate(100%, 0); 
    opacity: 0;
  } to {
    transform: translate(0, 0); 
    opacity: 1;
  }
}

.move-right { 
  animation: bring-right 1s forwards;
} 

@keyframes bring-right {
  from {
    transform: translate(-100%, 0); 
    opacity: 0;
  } to {
    trasnform: translate(0, 0);
    opacity: 1;
  }
}

.move-down {
  animation: bring-down 1s forwards; 
}

 @keyframes move-down {
  from {
    transform: translate(0, -100%); 
    opacity: 0;
  } to {
    transform: translate(0, 0);
    opacity: 1;
  }
 }